
<nav class="site-header sticky-top py-1 navbar navbar-expand-lg navbar-dark mb-4" style="background-color: #8E1B1B;">
  <a class="navbar-brand" href="#">Mini PDV</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">
      <li class="nav-item active">
        <a class="nav-link" [routerLink]="['/vendas']" routerLinkActive="router-link-active" >Vendas <span class="sr-only">(current)</span></a>
      </li>
      <li class="nav-item">
        <a class="nav-link" [routerLink]="['/relatorios']" routerLinkActive="router-link-active">Relatórios</a>
      </li>
    </ul>
  </div>
</nav>
