<!doctype html>
<html lang="pt">

<head>
  <title>Vendas</title>
</head>

<body>

  <div class="container">
    <p-toast [style]="{marginTop: '80px'}"></p-toast>
    <div class="text-center mb-4">
      <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
      <h1 class="h3 mb-3 font-weight-normal">Vendas</h1>
    </div>

    <div class="row">
      <!-- OPÇÕES -->
      <div class="col">

        <!-- ESCOLHA CLIENTE #INICIO -->
        <!-- <div class="input-group-prepend ml-2">
                    <span
                        class="input-group-text"
                        id="basic-addon1"
                        class="form-control basicAutoSelect"
                        autocomplete="off"
                    >
                        Cliente
                    </span>
                </div> -->
        <ng-select [items]="clientes" [virtualScroll]="true" bindLabel="nome" placeholder="Selecione o cliente"
          [(ngModel)]="cliente" [searchFn]="customSearchFnCliente">
          <ng-template ng-option-tmp let-item="item" let-index="index">
            <div>{{ item.id + ' - ' + item.nome }}</div>
          </ng-template>
        </ng-select>
        <!-- ESCOLHA CLIENTE #FIM -->

        <!-- ESCOLHA VENDEDOR #INICIO -->
        <!-- <div class="input-group-prepend ml-2">
                    <span
                        class="input-group-text"
                        id="basic-addon1"
                        class="form-control basicAutoSelect"
                        autocomplete="off"
                    >
                        Vendedor
                    </span>
                </div> -->
        <ng-select class="mt-2" [items]="vendedores" [virtualScroll]="true" bindLabel="nome"
          placeholder="Selecione o vendedor" [(ngModel)]="vendedor" [searchFn]="customSearchFnVendedor">
          <ng-template ng-option-tmp let-item="item" let-index="index">
            <div>{{ item.id + ' - ' + item.nome }}</div>
          </ng-template>
        </ng-select>

        <div class="ml-5 text-bottom">
          <span class="align-bottom">F8 - Filtrar produto por Descrição</span>
        </div>

        <!-- ESCOLHA VENDEDOR #FIM -->

        <!-- ESCOLHA PRODUTO #INICIO -->
        <div class="input-group mb-2 mt-2 mr-2">
          <input type="text" placeholder="Pesquise por código" [(ngModel)]="searchText"
            (ngModelChange)="filtrarProdutoPorCodigo(searchText)" class="form-control" id="basic-url"
            aria-describedby="basic-addon3">
          <!-- <button class="btn btn-primary">Search</button> -->

          <!-- <input
                      [(ngModel)]="searchDescricao"
                      (click)="filtrarProdutoPorDescricao(searchDescricao)"
                      type="text"
                      placeholder="descrição do produto"
                      class="form-control"
                      id="basic-url"
                      aria-describedby="basic-addon3"> -->

          <!-- (ngModelChange)="filtrarProdutoPorDescricao(searchDescricao)" -->
          <input readonly class="form-control-plaintext" value="{{searchDescricao}}" type="button"
            placeholder="descrição do produto" class="form-control" id="basic-url" aria-describedby="basic-addon3">

          <input type="text" editable="false" placeholder="quantidade do produto" [(ngModel)]="produtoQTD"
            (ngModelChange)="editouQtdProduto()" class="form-control" id="basic-url" aria-describedby="basic-addon3">
          <input type="text" editable="false" placeholder="preço do produto" [(ngModel)]="produtoPreco"
            class="form-control" id="basic-url" aria-describedby="basic-addon3">
          <button class="btn btn-primary mb-2 ml-2 mr-2" *ngIf="produtoQTD > 0"
            (click)="addProduto(null)">Confirmar</button>
        </div>
        <!-- ESCOLHA PRODUTO #FIM -->

      </div>
    </div>

    <!-- Confirmation Dialog -->
    <div class="modal fade" tabindex="-1" role="dialog" aria-hidden="true" id="ModalProdutos">
      <div class="modal-dialog modal-dialog-scrollable modal-dialog-centered modal-lg" role="document">

        <div class="modal-content">

          <div class="modal-header">
            <input [(ngModel)]="searchDescricao" (ngModelChange)="filtrarProdutoPorDescricao(searchDescricao)"
              type="text" placeholder="FILTRAR POR DESCRIÇÃO DO PRODUTO" class="form-control" id="basic-url"
              aria-describedby="basic-addon3">
          </div>

          <div class="class modal-body">
            <div class="table-responsive">
              <table class="table table-sm" *ngIf="produtosFilter.length > 0 && searchDescricao != ''">
                <thead class="thead-dark">
                  <tr>
                    <th scope="col">Código</th>
                    <th scope="col">Descrição</th>
                    <th scope="col">Unidade</th>
                    <th scope="col">Estoque</th>
                    <th scope="col">Preço</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr *ngFor="let produto of produtosFilter; index as i;">
                    <th style="width: 50px;">{{ produto.id }}</th>
                    <td style="width: 150px;">{{ produto.descricao }}</td>
                    <td style="width: 50px;">{{ produto.unidade }}</td>
                    <td style="width: 50px;">{{ produto.estoque }}</td>
                    <td style="width: 100px;">{{ produto.preco | currency:'R$' }}</td>
                    <td>
                      <button title="Selecionar" class="btn btn-primary 	fas fa-check-circle"
                        (click)="checkProduto(produto)">
                      </button>
                    </td>
                  </tr>
                  <tr>
                  </tr>
                </tbody>
              </table>
            </div>
            <div *ngIf="produtosFilter.length === 0 && searchDescricao.length > 0">
              <label style="color: red;">NENHUM PRODUTO ENCONTRADO</label>
            </div>
          </div>


        </div>
      </div>
    </div>


    <!-- End of Confirmation Dialog -->
    <div class="row ml-2">
      <div *ngIf="searchText.length > 0 && produto === undefined">
        <label style="color: red;">NENHUM PRODUTO ENCONTRADO</label>
      </div>
    </div>

    <div class="row">

      <!-- <div class="col">
            <div class="card shadow">
              <div class="card-header">Produtos</div>
              <div class="card-body">
                <div class="table-responsive">
                  <table
                      class="table"
                      *ngIf="produtos.length > 0 && searchText != ''"
                  >
                      <thead class="thead-dark">
                          <tr>
                              <th scope="col">Código</th>
                              <th scope="col">Descrição</th>
                              <th scope="col">Unidade</th>
                              <th scope="col">Estoque</th>
                              <th scope="col">Preço</th>
                              <th></th>
                          </tr>
                      </thead>
                      <tbody>
                          <tr *ngFor="let produto of produtos | filtroArray: searchText; index as i;">
                              <th style="width: 50px;">{{ produto.id }}</th>
                              <td style="width: 50px;">{{ produto.descricao }}</td>
                              <td style="width: 50px;">{{ produto.unidade }}</td>
                              <td style="width: 50px;">{{ produto.estoque }}</td>
                              <td style="width: 100px;">{{ produto.preco | currency:'R$' }}</td>
                              <td>
                                  <button title="Adicionar"
                                      class="btn btn-primary"
                                      (click)="addProduto(produto)"
                                  >+
                                  </button>
                              </td>
                          </tr>
                          <tr>
                          </tr>
                      </tbody>
                  </table>
              </div>
              <div *ngIf="produtos.length === 0 || searchText == ''">Nenhum Produto Encontrado</div>
              </div>
              <div class="card-footer">
              </div>

            </div>
        </div> -->



      <div class="col">
        <div class="card shadow">
          <div class="card-header fas fa-shopping-basket">
            <span> Itens Adicionados</span>
          </div>
          <div class="card-body">
            <table class="table" *ngIf="pedidoItens.length > 0">
              <thead class="thead-dark">
                <tr>
                  <th scope="col">Produto</th>
                  <th scope="col">Quantidade</th>
                  <th scope="col"></th>
                  <th scope="col">Preço</th>
                  <th scope="col">Desc.</th>
                  <th scope="col">Total</th>
                  <th></th>
                </tr>
              </thead>
              <tbody>
                <tr *ngFor="let item of pedidoItens; index as i;">
                  <td>{{ item.produto?.descricao }}</td>
                  <td>{{ item.quantidade }}</td>
                  <td> x </td>
                  <td *ngIf="item.precoUnitario >= 10">{{ item.precoUnitario | currency: 'R$' }}</td>
                  <td *ngIf="item.precoUnitario < 10">{{ item.precoUnitario | currency: 'R$' }}</td>
                  <td> {{ item.desconto | currency: 'R$' }} </td>
                  <!-- <td> {{ item.valorTotal | currency: 'R$' }} </td> -->
                  <td> {{ (item.precoUnitario * item.quantidade) - (item.desconto * item.quantidade) | currency: 'R$' }}
                  </td>
                  <!-- <td><input type="text" style="width: 50px;" [(ngModel)]="item.quantidade" (ngModelChange)="editPedidoItem(item)" ></td> -->
                  <!-- <td><input type="text" style="width: 100px;" [(ngModel)]="item.preco" ></td> -->
                  <td>
                    <button class="btn btn-danger fas fa-trash-alt" title="Remover"
                      (click)="removerItem(item)"></button>
                  </td>
                </tr>
                <tr>
                </tr>
              </tbody>
            </table>
            <div *ngIf="pedidoItens.length === 0">Nenhum produto Adicionado</div>
          </div>
          <div class="card-footer">
            <div *ngIf="pedidoItens.length > 0 && cliente != null && vendedor != null">
              <div class="d-flex justify-content-stars">
                <label *ngIf="valorTotal >= 10">Valor Total R$ {{ valorTotal | number: '2.2' }}</label>
                <label *ngIf="valorTotal < 10">Valor Total R$ {{ valorTotal | number: '1.2' }}</label>
              </div>
              <div class="d-flex justify-content-end">
                <button title="Gravar" class="btn btn-success " (click)="gravarPedido(pedidoItens)">
                  Gravar
                </button>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</body>

</html>
