<!doctype html>
<html lang="pt">

<head>
  <title>Relatórios</title>
</head>

<body>
  <div class="container">

    <form [formGroup]="resourceForm" class="form-signin">


      <div class="text-center mb-4">
        <img class="mb-4" src="https://getbootstrap.com/assets/brand/bootstrap-solid.svg" alt="" width="72" height="72">
        <h1 class="h3 mb-3 font-weight-normal">Relatórios</h1>
      </div>


      <div class=" mb-3 text-center">
        <div class="mb-4 box-shadow">

          <div class="row form-group">
            <label for="dtInicio">Data Inicial</label>
            <input type="date" class="form-control" formControlName="dataInicial" id="dtInicio"
              placeholder="Data Inicial" aria-label="dataInicial" aria-describedby="basic-addon1" required>
            <div style="color: red; font-style: italic"
              *ngIf=" resourceForm.get('dataInicial').touched && resourceForm.get('dataInicial').invalid">
              Data Inicial é obrigatória
            </div>
          </div>

          <div class="row form-group">
            <label>Data Final</label>
            <input type="date" class="form-control" id="dtFim" formControlName="dataFinal" placeholder="Data Final"
              aria-label="dataFinal" aria-describedby="basic-addon1">
            <div style="color: red; font-style: italic"
              *ngIf=" resourceForm.get('dataInicial').touched && resourceForm.get('dataInicial').invalid">
              Data Final é obrigatória
            </div>
          </div>

          <div class="row form-group">
            <label for="slcVendedor">Filtrar por Vendedor</label>
            <select class="form-control" id="slcVendedor" formControlName="vendedor" value="vendedor">
              <option>Todos</option>
              <option *ngFor=" let vendedor of vendedores">{{ vendedor.nome }}</option>
            </select>
          </div>
        </div>
      </div>
      <button type="button" [disabled]="resourceForm.invalid" class="row btn btn-primary btn-lg btn-block"
        (click)="gerarRelatorioVendas()">Gerar</button>

    </form>
  </div>

</body>

</html>
